<footer class="footer">
  <div class="footer__logo-box">
    <img srcset="/assets/img/logo-green-1x.png 1x, /assets/img/logo-green-2x.png 2x" alt="Full logo" class="footer__logo">
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item" *ngFor="let name of names"><a href="#" class="footer__link">{{ name }}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
       Built my <a href="#" class="footer__link">Jonas Schmedtmann</a>for his online <a href="#" class="footer__link">Advanced Css and SASS</a> Copyroght &copy; by Jonas Schmedtmaan. You are allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original author, Jonas Schmedtmaan, is of course highly appreciated!
      </p>
    </div>
  </div>
</footer>