<div class="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="/assets/img/new11.jpg" alt="Tour photo" class="popup__img">
      <img src="/assets/img/new12.jpg" alt="Tour photo" class="popup__img">
    </div>
    <div class="popup__right">
       <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
       <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
       <p class="popup__text">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolorem pariatur impedit blanditiis harum fugit fugiat rerum. Nihil laudantium natus aliquid a impedit aperiam nobis. Porro nostrum rerum ex consectetur.
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime corporis dolorum facilis atque minima error dolores, molestias fugiat fuga. Molestias eum magnam veritatis provident, sit corporis suscipit qui repudiandae a!
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate omnis laudantium accusamus nostrum dolorum repellendus distinctio autem odit quibusdam pariatur quas, a facere animi dolor recusandae eum? Mollitia, ut inventore.
       </p>
       <a href="#" class="btn btn--green">Book now</a>
    </div>
  </div>
</div>
